{
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true,
    "commonjs": true
  },
  "extends": ["eslint:recommended", "airbnb", "airbnb/hooks"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "error",
    "import/first": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
